<table class="table table-striped table-valign-middle dataTable bg-white" id="personTypeGraphDataTable">
    <thead id="personTypeGraphDataTable-thead">
        <!-- loop -->
        <tr><th>ประเภทบุคลากร</th>
            <th>จำนวน</th>
        </tr>
    </thead>
    <tbody id="personTypeGraphDataTable-tbody">
        <!-- loop -->
    </tbody>
</table>