<table class="table table-striped table-valign-middle dataTable bg-white" id="personPositionFacultyGraphDataTable">
    <thead id="personPositionFacultyGraphDataTable-thead">
    </thead>
    <tbody id="personPositionFacultyGraphDataTable-tbody">
    </tbody>
</table>