<table class="table table-striped table-valign-middle dataTable bg-white" id="personWorkAgeGraphDataTable">
    <thead id="personWorkAgeGraphDataTable-thead">
        <!-- loop -->
        <tr>
            <th>ประเภทและบุคลากร</th>
            <th>น้อยกว่า 3 ปี</th>
            <th>3 - 5 ปี</th>
            <th>6 - 9 ปี</th>
            <th>10 - 15 ปี</th>
            <th>16 - 20 ปี</th>
            <th>20 ปีขึ้นไป</th>
            <th>รวม</th>
        </tr>
    </thead>
    <tbody id="personWorkAgeGraphDataTable-tbody">
        <!-- loop -->
    </tbody>
</table>