<div id="researchPersonGroupGraphDataSourceModal" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-title">รายชื่อกลุ่มบุคลากร<span id="researchPersonGroupGraphDataSourceLabel"></span></h3>
                <div class="card-tools">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            </div>
            <div class="modal-body" id="researchPersonGroupGraphDataSourceModal-card-body">


            </div>
        </div>
    </div>
</div>


<div id="researchGroupDrillDownGraphDataSourceModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-title"><span id="researchGroupDrillDownGraphDataSourceLabel"></span></h3>
                <div class="card-tools">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            </div>
            <div class="modal-body" id="researchGroupDrillDownGraphDataSourceModal-card-body">


            </div>
        </div>
    </div>
</div>