<table class="table table-striped table-valign-middle dataTable bg-white" id="researchPersonGroupGraphDataTable">
    <thead id="researchPersonGroupGraphDataTable-thead">
        <!-- loop -->
        <tr>
            <th>กลุ่มบุคลากร</th>
            <th>จำนวนงานวิจัย</th>
        </tr>
    </thead>
    <tbody id="researchPersonGroupGraphDataTable-tbody">
        <!-- loop -->
    </tbody>
</table>