<table class="table table-striped table-valign-middle dataTable bg-white" id="researchMoneyRangeGraphDataTable">
    <thead id="researchMoneyRangeGraphDataTable-thead">
        <tr>
            <th class="th-text-green">งบประมาณ</th>
            <th class="th-text-green">จำนวนงานวิจัย</th>
        </tr>
    </thead>
    <tbody id="researchMoneyRangeGraphDataTable-tbody">
        <!-- loop -->
    </tbody>
</table>