<table class="table table-striped table-valign-middle dataTable bg-white" id="personFacultyGraphDataTable">
    <thead id="personFacultyGraphDataTable-thead">
    </thead>
    <tbody id="personFacultyGraphDataTable-tbody">
    </tbody>
</table>