<table class="table table-striped table-valign-middle dataTable bg-white" id="researchDepartmentGraphDataTable">
    <thead id="researchDepartmentGraphDataTable-thead">
        <!-- loop -->
        <tr>
            <th>หน่วยงาน</th>
            <th>จำนวนงานวิจัย</th>
        </tr>
    </thead>
    <tbody id="researchDepartmentGraphDataTable-tbody">
        <!-- loop -->
    </tbody>
</table>