<table class="table table-striped table-valign-middle dataTable bg-white" id="personEducationGraphDataTable">
    <thead id="personEducationGraphDataTable-thead">
        <!-- loop -->
        <tr><th>ระดับการศึกษา</th>
            <th>จำนวน</th>
        </tr>
    </thead>
    <tbody id="personEducationGraphDataTable-tbody">
        <!-- loop -->
    </tbody>
</table>