<table class="table table-striped table-valign-middle dataTable bg-white" id="personPositionLevelGraphDataTable">
    <thead id="personPositionLevelGraphDataTable-thead">

    </thead>
    <tbody id="personPositionLevelGraphDataTable-tbody">

    </tbody>
</table>