@{
    var userAccesToken = User.FindFirst("AccessToken").Value;
}
<div class="col-lg-6">
    <div class="card card-green-theme">
        <div class="card-header">
            <h3 class="card-title">กราฟแสดงอัตราส่วนจำนวนบุคลากรประเภทวิชาการและประเภทสนับสนุน</h3>
        </div>
        <div class="card-body">
            <div class="position-relative mb-4 text-center">
                <div class="btn-group btn-group-toggle btn-toggle-green" data-toggle="buttons">
                    <label class="btn btn-success label-default-bg active" id="switch-personType-label-canvas">
                        <input type="radio" name="options" id="switch-personType-chart-1" autocomplete="off" checked="">
                        <i class="fa fa-chart-bar" aria-hidden="true"></i><br /> มุมมองกราฟ
                    </label>
                    <label class="btn btn-success label-default-bg btn-toggle-green" id="switch-personType-label-table">
                        <input type="radio" name="options" id="switch-personType-chart-2" autocomplete="off">
                        <i class="fa fa-table" aria-hidden="true"></i><br /> มุมมองตาราง
                    </label>
                </div>
                <a class="btn btn-app" style="position: absolute;right: 0;" id="personType-datasource">
                    <i class="fas fa-info"></i> ข้อมูล
                </a>
            </div>
            <br />
            <div class="card-body" id="personType-chart-canvas">
                <canvas id="personType-chart" style="min-height: 350px; height: 370px; max-height: 400px; max-width: 100%;"></canvas>
            </div>
            <div class="position-relative mb-4" id="personType-chart-table" style="display:none;">
                <partial name="PartialViews/PersonTypeGraph/_personTypeGraphDataTable" />
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        PersonTypeGraph('@userAccesToken','@User.Identity.Name');
        ToggleChart("personType");
        $('#personType-datasource').click(function () {
            PersonEducationGraphDS('@userAccesToken','@User.Identity.Name')
        });
    })
</script>
<partial name="PartialViews/PersonTypeGraph/_personTypeGraphDataSource" />