<div id="personPositionLevelGraphDataSourceModal" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="card card-info">
                <div class="card-header border-0">
                    <h3 class="card-title">ประเภทบุคลากร<span id="personPositionLevelDataSourceLabel"></span></h3>
                    <div class="card-tools">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
                <div class="card-body p-0" id="personPositionLevelGraphDataSourceModal-card-body">


                </div>
            </div>
        </div>
    </div>
</div>

<div id="personPositionLevelDrillDownGraphDataSourceModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card card-green-theme">
                <div class="card-header border-0">
                    <h3 class="card-title"><span id="personPositionLevelDrillDownGraphDataSourceLabel"></span></h3>
                    <div class="card-tools">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
                <div class="card-body p-0" id="personPositionLevelDrillDownGraphDataSourceModal-card-body">


                </div>
            </div>
        </div>
    </div>
</div>