@{
}

<div class="col-lg-6">
    <div class="card">
        <div class="card-header border-0 mt-1">
    <div class="card card-green-theme">
        <div class="card-header border-0">
            <div class="d-flex justify-content-between">
                <h3 class="card-title text-green">กราฟแสดงจำนวนบุคลากรทั้งหมดแยกตามประเภทและบุคลากร</h3>
            </div>
        </div>
        <div class="card-body bg-dark-sea-green">
            <div class="position-relative mb-4 text-center">
                <div class="btn-group btn-group-toggle btn-toggle-green" data-toggle="buttons">
                    <label class="btn btn-success label-default-bg active" id="switch-allpersonal-label-canvas">
                        <input type="radio" name="options" id="switch-allpersonal-chart-1" autocomplete="off" checked="">
                        <i class="fa fa-chart-bar" aria-hidden="true"></i><br/> มุมมองกราฟ
                    </label>
                    <label class="btn btn-success label-default-bg btn-toggle-green" id="switch-allpersonal-label-table">
                        <input type="radio" name="options" id="switch-allpersonal-chart-2" autocomplete="off">
                        <i class="fa fa-table" aria-hidden="true"></i><br/> มุมมองตาราง
                    </label>
                </div>
                <a class="btn btn-app" style="position: absolute;right: 0;" id="allpersonal-datasource">
                    <i class="fas fa-info"></i> ข้อมูล
                </a>
            </div>
            <br />
            <br />
            <br />
            <div class="position-relative mb-4" id="allpersonal-chart-canvas">
                <canvas id="allpersonal-chart" style="min-height: 300px; height: 300px; max-height: 300px; max-width: 100%;"></canvas>
            </div>
            <div class="position-relative mb-4" id="allpersonal-chart-table" style="display:none;">
                <partial name="PartialViews/AllPersonGraph/_allPersonGraphDataTable" />
            </div>
            <div class="d-flex flex-row justify-content-end">
                <span class="mr-2">
                    <i class="fas fa-square text-primary"></i> จำนวนบุคลากร
                </span>

            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        AllPersonGraph();
        ToggleChart("allpersonal");
    })
</script>
<partial name="PartialViews/AllPersonGraph/_allPersonGraphDataSource" />