<div id="personDetailModal" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xxl">
        <div class="modal-content">
            <div class="card card-info">
                <div class="card-header border-0">
                    <h3 class="card-title">ข้อมูลบุคลากร<span id="researchInfoLabel"></span></h3>
                    <div class="card-tools">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
                <div class="card-body table-responsive p-0">
                    <br>
                    <section class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card card-green card-outline">
                                        <div class="card-body box-profile">
                                            <div class="text-center">
                                            </div>
                                            <h3 class="text-left nameThText">นาง นิน่า แมคาทรี</h3>
                                            <h5 class="text-left nameEnText">Ms. Nina Mcintire</h5>
                                            <p class="text-muted text-left positionText">นักวิชาการศึกษา (ชำนาญการ)</p>
                                            <ul class="list-group list-group-unbordered mb-3">
                                                <li class="list-group-item">
                                                    <strong>ประเภทบุคลากร</strong> <a class="float-right">ช้าราชการ</a>
                                                </li>
                                                <li class="list-group-item">
                                                    <strong>สังกัด/แผนก</strong> <a class="float-right">งานบริหารและธุรการ</a>
                                                </li>
                                                <li class="list-group-item">
                                                    <strong>สังกัด/กอง</strong> <a class="float-right">กองกลาง</a>
                                                </li>
                                                <li class="list-group-item">
                                                    <strong>หน่วยงาน/คณะ</strong> <a class="float-right facultyText">คณะวิทยาศาสตร์</a>
                                                </li>
                                                <li class="list-group-item">
                                                    <strong>วันที่บรรจุ</strong> <a class="float-right">01/01/2020</a>
                                                </li>
                                                <li class="list-group-item">
                                                    <strong>ปีที่เกษียณ</strong> <a class="float-right">2029</a>
                                                </li>
                                                <li class="list-group-item">
                                                    <strong>เงินเดือน</strong> <a class="float-right salaryText">13,287</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="card card-green">
                                        <div class="card-header">
                                            <h3 class="card-title">ข้อมูลส่วนตัว</h3>
                                        </div>
                                        <div class="card-body">
                                            <hr>
                                            <strong><i class="fas fa-map-marker-alt mr-1"></i>ที่อยู่ปัจจุบัน</strong>
                                            <p class="text-muted addressText">113/71 หมู่ 2 ต.หนองหาร อ.สันทราย จ.เชียงใหม่ 50920</p>
                                            <hr> 
                                        </div>
                                    </div>

                                    <div class="card card-green">
                                        <div class="card-header">
                                            <h3 class="card-title">ข้อมูลการศึกษา</h3>
                                        </div>
                                        <div class="card-body">
                                            <strong><i class="fas fa-book mr-1"></i>ปริญญาตรี</strong>
                                            <p class="text-muted educationText">วทบ.เคมี มหาวิทยาลัยแม่โจ้</p>
                                            <p class="text-muted educationCountryText">ประเทศไทย</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="card">
                                        <div class="card-header p-2">
                                            <ul class="nav nav-pills">
                                                <li class="nav-item"><a class="nav-link active" href="#research" data-toggle="tab">ผลงานวิจัย</a></li>
                                                <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">บทความวิชาการ</a></li>
                                                <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">อื่นๆ</a></li>
                                            </ul>
                                        </div>
                                        <div class="card-body">
                                            <div class="tab-content">
                                                <div class="active tab-pane" id="research">

                                                    <div class="post">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="">
                                                                    <h3 class="text-green">ชื่องานวิจัย EN</h3>
                                                                    <h5>ชื่องานวิจัย TH</h5>
                                                                </div>
                                                                <div class=""><b>ระยะเวลาวิจัย</b><span class="researchDateText">  01/01/2014 - 31/12/2016</span></div>
                                                                <div class=""><b>แหล่งทุน</b><span class="researchFundText">ธนาคารไทยพานิชย์ </span></div>
                                                                <div class=""><b>งบประมาณ</b><span class="moneyText">  500,000 บาท</span></div>
                                                                <br>
                                                                <div class="">
                                                                    <b>ผู้ร่วมวิจัย</b>
                                                                    <ol>
                                                                        <li>
                                                                            นาย 11111 11111
                                                                        </li>
                                                                        <li>
                                                                            นาง 22222 22222
                                                                        </li>
                                                                        <li>
                                                                            นาง 333333 333333
                                                                        </li>
                                                                    </ol>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="">
                                                                    <h3 class="text-green">ชื่องานวิจัย EN</h3>
                                                                    <h5>ชื่องานวิจัย TH</h5>
                                                                </div>
                                                                <div class=""><b>ระยะเวลาวิจัย</b><span class="researchDateText">  01/01/2014 - 31/12/2016</span></div>
                                                                <div class=""><b>แหล่งทุน</b><span class="researchFundText">ธนาคารไทยพานิชย์ </span></div>
                                                                <div class=""><b>งบประมาณ</b><span class="moneyText">  500,000 บาท</span></div>
                                                                <br>
                                                                <div class="">
                                                                    <b>ผู้ร่วมวิจัย</b>
                                                                    <ol>
                                                                        <li>
                                                                            นาย 11111 11111
                                                                        </li>
                                                                        <li>
                                                                            นาง 22222 22222
                                                                        </li>
                                                                        <li>
                                                                            นาง 333333 333333
                                                                        </li>
                                                                    </ol>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="post">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="">
                                                                    <h3 class="text-green">ชื่องานวิจัย EN</h3>
                                                                    <h5>ชื่องานวิจัย TH</h5>
                                                                </div>
                                                                <div class=""><b>ระยะเวลาวิจัย</b><span class="researchDateText">  01/01/2014 - 31/12/2016</span></div>
                                                                <div class=""><b>แหล่งทุน</b><span class="researchFundText">ธนาคารไทยพานิชย์ </span></div>
                                                                <div class=""><b>งบประมาณ</b><span class="moneyText">  500,000 บาท</span></div>
                                                                <br>
                                                                <div class="">
                                                                    <b>ผู้ร่วมวิจัย</b>
                                                                    <ol>
                                                                        <li>
                                                                            นาย 11111 11111
                                                                        </li>
                                                                        <li>
                                                                            นาง 22222 22222
                                                                        </li>
                                                                        <li>
                                                                            นาง 333333 333333
                                                                        </li>
                                                                    </ol>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="">
                                                                    <h3 class="text-green">ชื่องานวิจัย EN</h3>
                                                                    <h5>ชื่องานวิจัย TH</h5>
                                                                </div>
                                                                <div class=""><b>ระยะเวลาวิจัย</b><span class="researchDateText">  01/01/2014 - 31/12/2016</span></div>
                                                                <div class=""><b>แหล่งทุน</b><span class="researchFundText">ธนาคารไทยพานิชย์ </span></div>
                                                                <div class=""><b>งบประมาณ</b><span class="moneyText">  500,000 บาท</span></div>
                                                                <br>
                                                                <div class="">
                                                                    <b>ผู้ร่วมวิจัย</b>
                                                                    <ol>
                                                                        <li>
                                                                            นาย 11111 11111
                                                                        </li>
                                                                        <li>
                                                                            นาง 22222 22222
                                                                        </li>
                                                                        <li>
                                                                            นาง 333333 333333
                                                                        </li>
                                                                    </ol>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="tab-pane" id="timeline">
                                                   ไม่มีข้อมูล
                                                </div>

                                                <div class="tab-pane" id="settings">
                                                    ไม่มีข้อมูล
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>



                    @*<table class="table table-striped table-valign-middle dataTable" id="researchInfoTable">
            <thead>
                <tr>
                    <th>ชื่อบุคลากร</th>
                    <th>หน่วยงาน</th>
                </tr>
            </thead>
            <tbody id="researchInfoSection">
            </tbody>
        </table>*@

                </div>
            </div>
        </div>
    </div>
</div>