

<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-gray-dark">
                <div class="card-header border-0">
                    <div class="d-flex justify-content-between">
                        <h3 class="card-title">กราฟแสดงจำนวนอัตราจ้างบุคลากรในช่วงระยะเวลา 10 ปี</h3>
                    </div>
                </div>
                <div class="card-body">

                    <div class="d-flex">
                        <div class="info-box mb-3 text-right">
                            <span class="info-box-icon bg-green elevation-1"><i class="fas fa-users"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">จำนวนบุคลากรทั้งหมดปีปัจจุบัน</span>
                                <span class="info-box-number">2,000 คน</span>
                            </div>
                        </div>

                        <div class="info-box mb-3 ml-auto text-right">
                            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-user-plus"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">จำนวนบุคลากรที่เริ่มต้นทำงานปัจจุบัน</span>
                                <span class="info-box-number">3 คน</span>
                            </div>
                        </div>

                        <div class="info-box mb-3 ml-auto text-right">
                            <span class="info-box-icon bg-gray elevation-1"><i class="fas fa-user-times"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">การคาดการณ์อัตราการเกษียณปีปัจจุบัน</span>
                                <span class="info-box-number">20 %</span>
                            </div>
                        </div>

                        <div class="info-box mb-3 ml-auto text-right">
                            <span class="info-box-icon bg-red elevation-1"><i class="fas fa-user-times"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">อัตราการเกษียณปีปัจจุบัน</span>
                                <span class="info-box-number">12.5 %</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>
                    <!-- /.d-flex -->
                    <br />
                    <div class="position-relative mb-4" id="personForcastGenerationBox">
                        <canvas id="personForcastGeneration-chart" height="350"></canvas>
                    </div>
                    <br />
                    <div class="d-flex flex-row justify-content-end">
                        <span class="mr-2">
                            <i class="fas fa-square text-green"></i> บุคลากรปัจจุบัน
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-square text-gray"></i> บุคลากรที่คาดว่าจะเกษียณ
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-square text-red"></i> บุคลากรที่เกษียณแล้ว
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="personForcastGenerationModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card card-success">
                <div class="card-header border-0">
                    <h3 class="card-title">รายชื่อบุคลากร <span id="personForcastGenerationLabel"></span> </h3>
                    <div class="card-tools">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-striped table-valign-middle dataTable" id="personForcastGenerationTable">
                        <thead>
                            <tr>
                                <th>ชื่อบุคลากร</th>
                                <th>วันเกิด</th>
                                <th>อายุ</th>
                                <th>หน่วยงาน</th>
                            </tr>
                        </thead>
                        <tbody id="personForcastGenerationSection">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        PersonForcastGenrationGraph();

    })
</script>
