@{
}
<div class="col-lg-6">
    <div class="card card-green-theme">
        <div class="card-header">
            <h3 class="card-title">กราฟแสดงจำนวนบุคลากรแยกตามช่วงอายุ</h3>
            <div class="card-tools">
            </div>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-12">
                    <div class="d-flex">
                        <div class="col-sm-12 col-md-3">
                            <div class="info-box-text" ><strong>Baby Boomer</strong><p>(เกิดปี 2489 - 2507)</p></div>
                            <div class="info-box mb-3 ml-auto text-right">
                                <span id="click-bb-male" class="info-box-icon bg-light-blue elevation-1 div-full"><i class="fas fa-male"></i>&nbsp;<span id="bb-male">0</span></span>
                                <span id="click-bb-female" class="info-box-icon bg-light-pink elevation-1 div-full"><i class="fas fa-female"></i>&nbsp;<span id="bb-female">0</span></span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="info-box-text"><strong>Gen X</strong> <p>(เกิดปี 2508 - 2522)</p></div>
                            <div class="info-box mb-3 ml-auto text-right">
                                <span id="click-x-male" class="info-box-icon bg-light-blue elevation-1 div-full"><i class="fas fa-male"></i>&nbsp;<span id="x-male">0</span></span>
                                <span id="click-x-female" class="info-box-icon bg-light-pink elevation-1 div-full"><i class="fas fa-female"></i>&nbsp;<span id="x-female">0</span></span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="info-box-text"><strong>Gen Y</strong><p> (เกิดปี 2523 - 2540)</p></div>
                                <div class="info-box mb-3 ml-auto text-right">
                                    <span id="click-y-male" class="info-box-icon bg-light-blue elevation-1 div-full"><i class="fas fa-male"></i>&nbsp;<span id="y-male">0</span></span>
                                    <span id="click-y-female" class="info-box-icon bg-light-pink elevation-1 div-full"><i class="fas fa-female"></i>&nbsp;<span id="y-female">0</span></span>
                                </div>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="info-box-text"><strong>Gen Z</strong><p> (เกิดปี 2540 ขึ้นไป)</p></div>
                                <div class="info-box mb-3 ml-auto text-right">
                                    <span id="click-z-male" class="info-box-icon bg-light-blue elevation-1 div-full"><i class="fas fa-male"></i>&nbsp;<span id="z-male">0</span></span>
                                    <span id="click-z-female" class="info-box-icon bg-light-pink elevation-1 div-full"><i class="fas fa-female"></i>&nbsp;<span id="z-female">0</span></span>
                                </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="chart">
                <canvas id="stackedBarChart" style="min-height: 350px; height: 350px; max-height: 350px; max-width: 100%;"></canvas>
            </div>
            <div class="d-flex flex-row justify-content-end">
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        PersonAgeGraph();
    })
</script>
<partial name="PartialViews/PersonGender/_PersonGender" />