<table class="table table-striped table-valign-middle dataTable bg-white" id="researchMoneyTypeGraphDataTable">
    <thead id="researchMoneyTypeGraphDataTable-thead">
        <tr>
            <th>แหล่งทุน</th>
            <th>จำนวนงานวิจัย</th>
        </tr>
    </thead>
    <tbody id="researchMoneyTypeGraphDataTable-tbody">
        <!-- loop -->
    </tbody>
</table>