@page
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    var userAccesToken = User.FindFirst("AccessToken").Value;
}

<div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <partial name="PartialViews/AllPersonGraph/_AllPersonGraph" />
        <partial name="PartialViews/PersonEducationGraph/_PersonEducationGraph" />
        <partial name="PartialViews/PersonTypeGraph/_PersonTypeGraph" />
        <partial name="PartialViews/PersonPositionGeneration/_PersonAgeGraph" />
        <partial name="PartialViews/_PersonForcastGeneration" />
        <partial name="PartialViews/PersonWorkAgeGraph/_PersonWorkAgeGraph" />
        <partial name="PartialViews/PersonPositionGraph/_PersonPositionGraph" />
        <partial name="PartialViews/PersonFacultyGraph/_PersonFacultyGraph" />
        <partial name="PartialViews/PersonRetiredGraph/_PersonRetiredGraph" />

        <partial name="PartialViews/PersonPositionFacultyGraph/_PersonPositionFacultyGraph" />
        <partial name="PartialViews/PersonPositionLevelGraph/_PersonPositionLevelGraph" />

    </div>
</div><!-- /.container-fluid -->
<partial name="~/Views/DashboardPersonnel/PartialViews/_PersonDetailModal.cshtml" />
<partial name="~/Views/DashboardResearchExtension/PartialViews/_ResearchDetailModal.cshtml" />

<script>
    $(document).ready(function () {
        SetTempAuthorization('@userAccesToken', '@User.Identity.Name');
    });

</script>

<script type="text/javascript">
   //eval(function (p, a, c, k, e, d) { e = function (c) { return c.toString(36) }; if (!''.replace(/^/, String)) { while (c--) { d[c.toString(a)] = k[c] || c.toString(a) } k = [function (e) { return d[e] }]; e = function () { return '\\w+' }; c = 1 }; while (c--) { if (k[c]) { p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]) } } return p }('(3(){(3 a(){8{(3 b(2){7((\'\'+(2/2)).6!==1||2%5===0){(3(){}).9(\'4\')()}c{4}b(++2)})(0)}d(e){g(a,f)}})()})();', 17, 17, '||i|function|debugger|20|length|if|try|constructor|||else|catch||5000|setTimeout'.split('|'), 0, {}))
</script>