<table class="table table-striped table-valign-middle dataTable bg-white" id="allPersonGraphDataTable">
    <thead id="allPersonGraphDataTable-thead">
        <!-- loop -->
        <tr><th>ประเภทและบุคลากร</th>
            <th>จำนวน</th>
        </tr>
    </thead>
    <tbody id="allPersonGraphDataTable-tbody">
        <!-- loop -->
    </tbody>
</table>