<table class="table table-striped table-valign-middle dataTable bg-white" id="personSupportGraphDataTable">
    <thead id="personSupportGraphDataTable-thead">
        <!-- loop -->
        <tr>
        </tr>
    </thead>
    <tbody id="personSupportGraphDataTable-tbody">
        <!-- loop -->
    </tbody>
</table>