@page
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="container-fluid">
    <div class="row">

        <partial name="PartialViews/_ResearchPatentStat" />
        <partial name="PartialViews/_ResearchPublicationStat" />
        <partial name="PartialViews/_ResearchManageKnowledgeStat" />
        <partial name="PartialViews/_ResearchAvailableStat" />
        <partial name="PartialViews/_ResearchBudgetStat" />
    </div>
    <div class="row">
        <partial name="PartialViews/_ResearchDepartmentGraph" />
        <partial name="PartialViews/_ResearchMoneyPersonGroupGraph" />
        <partial name="PartialViews/_ResearchMoneyRangeGraph" />
        <partial name="PartialViews/_ResearchMoneyTypeGraph" />
    </div>
</div>