@page
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <partial name="PartialViews/_AllPersonGraph" />
        <partial name="PartialViews/_PersonEducationGraph" />
        <partial name="PartialViews/_PersonTypeGraph" />
        <partial name="PartialViews/_PersonAgeGraph" />
    </div>
</div><!-- /.container-fluid -->

<script src="~/js/Custom/CustomPersonnelGraph.js"></script>
<script>$(function () {
    AllPersonGraph();
    PersonAgeGraph();
    PersonEducationGraph();
    PersonTypeGraph();
})
</script>