@page
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <partial name="PartialViews/_AllPersonGraph" />
        <partial name="PartialViews/_PersonEducationGraph" />
        <partial name="PartialViews/_PersonTypeGraph" />
        <partial name="PartialViews/_PersonAgeGraph" />
        <partial name="PartialViews/_PersonForcastGeneration" />
        <partial name="PartialViews/PersonWorkAgeGraph/_PersonWorkAgeGraph" />
        <partial name="PartialViews/PersonPositionGraph/_PersonPositionGraph" />
        <partial name="PartialViews/PersonPositionLevelGraph/_PersonPositionLevelGraph" />
        <partial name="PartialViews/PersonFacultyGraph/_PersonFacultyGraph" />
        <partial name="PartialViews/PersonPositionFacultyGraph/_PersonPositionFacultyGraph" />
        <partial name="PartialViews/PersonRetiredGraph/_PersonRetiredGraph" />
    </div>
</div><!-- /.container-fluid -->

<script src="~/js/Custom/CustomPersonnelGraph.js"></script>
<script src="~/js/Custom/CustomPersonScript.js"></script>